.box {
  height: 45px;
  width: 45px;
  border: 2px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.key {
  height: 35px;
  width: 25px;
  margin-left: 1px;
  margin-bottom: 2px;
}

.a {
  margin-left: 12.5px;
}

.specialkey {
  height: 35px;
  width: 35px;
  margin-left: 1px;
  margin-bottom: 2px;
}

.enter {
  font-size: 9.2px;
  padding: 0;
}

.delete {
  font-size: 15px;
  padding-top: 3px;
}

.boxGreen {
  background-color: #6aaa64;

}

.boxYellow {
  background-color: #b59f3b;
}

.boxGray {
  background-color: #3a3a3c;
}

.keyGreen {
  background-color: #6aaa64;

}

.keyYellow {
  background-color: #b59f3b;
}

.keyGray {
  background-color: #3a3a3c;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.title {
  font-family: system-ui;
  font-size: 40px;
}

.win {
  color: #ffffff;
  background-color: #585954ee;
  font-size: 50px;
  position: absolute;
  padding: 12px;
  border-radius: 20px;
}

.winHide {
  display: none;
}

.lose {
  color: #ffffff;
  background-color: #585954ee;
  font-size: 50px;
  position: absolute;
  padding: 12px;
  border-radius: 20px;
}

.loseHide {
  display: none;
}

.wordWas {
  font-size: 20px;
  margin-left: 10px;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

body {
background-color: #ffffff;
}

.lightModeButton {
  display: none;
}

.dark .lightModeButton {
  display: inline;
}

.dark .darkModeButton {
  display: none;
}

.lowContrastModeButton {
  display: none;
  }
  
  .highContrast .lowContrastModeButton {
  display: inline;
  }
  .highContrast .highContrastModeButton {
  display: none;
  }
  
  .highContrast .boxGreen {
  background-color: #f5793a;

}

.highContrast .boxYellow {
  background-color: #85c0f9;
}

.highContrast .boxGray {
  background-color: #121213;
}

.highContrast .keyGreen {
  background-color: #f5793a;

}

.highContrast .keyYellow {
  background-color: #85c0f9;
}

.highContrast .keyGray {
  background-color: #121216;
}
